@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
	background-color: black;
}

h1 {
		background-color: black;
        text-align: center;
        font-size: 5vw;
        font-family: 'Permanent Marker';
        text-decoration: italic;
        -webkit-text-fill-color: black; 
 		-webkit-text-stroke-width: 1px;
  		-webkit-text-stroke-color: white;
}
h3.colorado {
	font-size: 60pt;
}
img.coloradoHighway{
	display: block;
	padding-top: 5pt;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
p{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.05vw;
	font-family: 'Oswald';
	color: white;
}
p.coloradoHighwayCaption{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.05vw;
	font-family: 'Oswald';
	font-weight: 300;
	color: white;
}

/*From w3 Schools past here */
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #062F4F;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Oswald';
  font-weight: 300;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}